/* General App styling */
.App {
  text-align: center;
  width: 100%; /* Ensure the App fills the entire width */
  padding: 20px; /* Add some padding around the app */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for container holding the row plots */
.ColumnPlotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; /* Adjust space between each RowPlotContainer */
  width: 100%; /* Use full width to avoid compression */
}

/* Styling for each row plot container */
.RowPlotContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; /* Adjust to ensure containers are not compressed */
}

.RowPlotContainer> div {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  flex-direction: column; /* Aligns children content vertically for when you need more control inside the divs */
}

/* Specific flex values for child divs to maintain desired ratios */
.RowPlotContainer > div:first-child {
  flex: 8; /* Takes up 5 parts of the space */
}

.RowPlotContainer > div:nth-child(2) {
  flex: 1.0; /* Takes up 1 part of the space */
}

.RowPlotContainer > div:last-child {
  flex: 4.0; /* Takes up 2.5 parts of the space */
}

/* Optional: If you want all children to have a minimum width, you can add a min-width property */
.RowPlotContainer > div {
  min-width: 100px; /* Adjust the minimum width as needed */
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 90%; /* Responsive table width */
  margin: 0 auto; /* Center table horizontally */
}

th, td {
  border: 1px solid #ddd; /* Light grey border */
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2; /* Light grey background for header */
}
